.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 150%;
}
a {
  text-decoration: none;
  color: #4183C4;
  -webkit-transition: color 0.1s ease;
}
a .u {
  display: inline-block;
  line-height: 120%;
  text-decoration: none;
  border-bottom: 1px solid rgba(65, 131, 196, 0.38);
  -webkit-transition: border-bottom 0.1s ease;
}
a[data-toggle] .u {
  border-bottom-style: dashed;
}
a:focus,
a:hover {
  color: #354F69;
  outline: none;
  -webkit-transition: color 0.1s ease;
}
a:focus .u,
a:hover .u {
  border-bottom-color: rgba(53, 79, 105, 0.62);
  -webkit-transition: border-bottom 0.1s ease;
}
.display-tablet,
.display-tablet-block,
.display-tablet-inline-block,
.display-tablet-inline {
  display: none;
}
.display-desktop,
.display-desktop-wide,
.display-wide,
.display-desktop-block,
.display-desktop-wide-block,
.display-wide-block,
.display-desktop-inline-block,
.display-desktop-wide-inline-block,
.display-wide-inline-block,
.display-desktop-inline,
.display-desktop-wide-inline,
.display-wide-inline {
  display: none;
}
/*/
 * Tablet (480px →)
 */
@media screen and (min-width: 480px) {
  .display-tablet {
    display: inherit;
  }
  .display-tablet-block {
    display: block;
  }
  .display-tablet-inline-block {
    display: inline-block;
  }
  .display-tablet-inline {
    display: inline;
  }
  .display-tablet-none {
    display: none;
  }
  body {
    font-size: 11px;
  }
}
/*/
 * desktop (1024 →)
 */
@media screen and (min-width: 960px) {
  .display-desktop {
    display: inherit;
  }
  .display-desktop-block {
    display: block;
  }
  .display-desktop-inline-block {
    display: inline-block;
  }
  .display-desktop-inline {
    display: inline;
  }
  .display-desktop-none {
    display: none;
  }
  body {
    font-size: 13px;
  }
  .responsive-tablet-span12 {
    width: 100% !important;
  }
}
/*/
 * wide, desktop-wide (1440 →)
 */
@media screen and (min-width: 1376px) {
  .display-desktop-wide,
  .display-wide {
    display: inherit;
  }
  .display-desktop-wide-block,
  .display-wide-block {
    display: block;
  }
  .display-desktop-wide-inline-block,
  .display-wide-inline-block {
    display: inline-block;
  }
  .display-desktop-wide-inline,
  .display-wide-inline {
    display: inline;
  }
  .display-desktop-wide-none,
  .display-wide-none {
    display: none;
  }
  body {
    font-size: 15px;
  }
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 0%;
  *margin-left: -0.052083333333333336%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 0%;
}
.row-fluid .span12 {
  width: 99.99999999999999%;
  *width: 99.94791666666666%;
}
.row-fluid .span11 {
  width: 91.66666666666666%;
  *width: 91.61458333333333%;
}
.row-fluid .span10 {
  width: 83.33333333333331%;
  *width: 83.28124999999999%;
}
.row-fluid .span9 {
  width: 74.99999999999999%;
  *width: 74.94791666666666%;
}
.row-fluid .span8 {
  width: 66.66666666666666%;
  *width: 66.61458333333333%;
}
.row-fluid .span7 {
  width: 58.33333333333333%;
  *width: 58.28124999999999%;
}
.row-fluid .span6 {
  width: 49.99999999999999%;
  *width: 49.94791666666666%;
}
.row-fluid .span5 {
  width: 41.66666666666666%;
  *width: 41.61458333333332%;
}
.row-fluid .span4 {
  width: 33.33333333333333%;
  *width: 33.28124999999999%;
}
.row-fluid .span3 {
  width: 24.999999999999996%;
  *width: 24.947916666666664%;
}
.row-fluid .span2 {
  width: 16.666666666666664%;
  *width: 16.614583333333332%;
}
.row-fluid .span1 {
  width: 8.333333333333332%;
  *width: 8.281249999999998%;
}
.row-fluid .offset12 {
  margin-left: 99.99999999999999%;
  *margin-left: 99.89583333333333%;
}
.row-fluid .offset12:first-child {
  margin-left: 99.99999999999999%;
  *margin-left: 99.89583333333333%;
}
.row-fluid .offset11 {
  margin-left: 91.66666666666666%;
  *margin-left: 91.5625%;
}
.row-fluid .offset11:first-child {
  margin-left: 91.66666666666666%;
  *margin-left: 91.5625%;
}
.row-fluid .offset10 {
  margin-left: 83.33333333333331%;
  *margin-left: 83.22916666666666%;
}
.row-fluid .offset10:first-child {
  margin-left: 83.33333333333331%;
  *margin-left: 83.22916666666666%;
}
.row-fluid .offset9 {
  margin-left: 74.99999999999999%;
  *margin-left: 74.89583333333333%;
}
.row-fluid .offset9:first-child {
  margin-left: 74.99999999999999%;
  *margin-left: 74.89583333333333%;
}
.row-fluid .offset8 {
  margin-left: 66.66666666666666%;
  *margin-left: 66.5625%;
}
.row-fluid .offset8:first-child {
  margin-left: 66.66666666666666%;
  *margin-left: 66.5625%;
}
.row-fluid .offset7 {
  margin-left: 58.33333333333333%;
  *margin-left: 58.22916666666666%;
}
.row-fluid .offset7:first-child {
  margin-left: 58.33333333333333%;
  *margin-left: 58.22916666666666%;
}
.row-fluid .offset6 {
  margin-left: 49.99999999999999%;
  *margin-left: 49.89583333333332%;
}
.row-fluid .offset6:first-child {
  margin-left: 49.99999999999999%;
  *margin-left: 49.89583333333332%;
}
.row-fluid .offset5 {
  margin-left: 41.66666666666666%;
  *margin-left: 41.562499999999986%;
}
.row-fluid .offset5:first-child {
  margin-left: 41.66666666666666%;
  *margin-left: 41.562499999999986%;
}
.row-fluid .offset4 {
  margin-left: 33.33333333333333%;
  *margin-left: 33.22916666666666%;
}
.row-fluid .offset4:first-child {
  margin-left: 33.33333333333333%;
  *margin-left: 33.22916666666666%;
}
.row-fluid .offset3 {
  margin-left: 24.999999999999996%;
  *margin-left: 24.895833333333332%;
}
.row-fluid .offset3:first-child {
  margin-left: 24.999999999999996%;
  *margin-left: 24.895833333333332%;
}
.row-fluid .offset2 {
  margin-left: 16.666666666666664%;
  *margin-left: 16.5625%;
}
.row-fluid .offset2:first-child {
  margin-left: 16.666666666666664%;
  *margin-left: 16.5625%;
}
.row-fluid .offset1 {
  margin-left: 8.333333333333332%;
  *margin-left: 8.229166666666664%;
}
.row-fluid .offset1:first-child {
  margin-left: 8.333333333333332%;
  *margin-left: 8.229166666666664%;
}
[class*="span"].hide,
.row-fluid [class*="span"].hide {
  display: none;
}
[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
  float: right;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  *zoom: 1;
}
.container-fluid:before,
.container-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.container-fluid:after {
  clear: both;
}
@media screen and (max-width: 768px) {
  .row-fluid [class*="span"]:not(.cell) {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-left: 0;
    float: none;
  }
}
/*
 * Параметризованная раскладка приложения
 */
.b-app {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*
     * Хидер приложения
     */

  /*
     * Футер приложения
     */

  /*
     * Экран приложения
     */

}
.b-app--header,
.b-app--footer,
.b-app--view {
  position: absolute;
  top: 0;
  height: auto;
  left: 0;
  width: 100%;
}
.b-app--header {
  bottom: auto;
  z-index: 5;
  min-height: 4em;
  height: 4em;
  max-height: 4em;
}
.b-app--header > header {
  display: block;
  font-size: 1em;
  line-height: 1.5em;
  padding: 1em;
}
.b-app--header > header hgroup,
.b-app--header > header h1,
.b-app--header > header h2,
.b-app--header > header h3,
.b-app--header > header h4,
.b-app--header > header h5,
.b-app--header > header h6 {
  display: block;
  margin: 0;
  margin-left: -0.05em;
  font: inherit;
  line-height: inherit;
  white-space: nowrap;
}
.b-app--header > header hgroup h1,
.b-app--header > header h1 h1,
.b-app--header > header h2 h1,
.b-app--header > header h3 h1,
.b-app--header > header h4 h1,
.b-app--header > header h5 h1,
.b-app--header > header h6 h1,
.b-app--header > header hgroup h2,
.b-app--header > header h1 h2,
.b-app--header > header h2 h2,
.b-app--header > header h3 h2,
.b-app--header > header h4 h2,
.b-app--header > header h5 h2,
.b-app--header > header h6 h2,
.b-app--header > header hgroup h3,
.b-app--header > header h1 h3,
.b-app--header > header h2 h3,
.b-app--header > header h3 h3,
.b-app--header > header h4 h3,
.b-app--header > header h5 h3,
.b-app--header > header h6 h3,
.b-app--header > header hgroup h4,
.b-app--header > header h1 h4,
.b-app--header > header h2 h4,
.b-app--header > header h3 h4,
.b-app--header > header h4 h4,
.b-app--header > header h5 h4,
.b-app--header > header h6 h4,
.b-app--header > header hgroup h5,
.b-app--header > header h1 h5,
.b-app--header > header h2 h5,
.b-app--header > header h3 h5,
.b-app--header > header h4 h5,
.b-app--header > header h5 h5,
.b-app--header > header h6 h5,
.b-app--header > header hgroup h6,
.b-app--header > header h1 h6,
.b-app--header > header h2 h6,
.b-app--header > header h3 h6,
.b-app--header > header h4 h6,
.b-app--header > header h5 h6,
.b-app--header > header h6 h6 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
.b-app--footer {
  top: auto;
  bottom: 0;
  z-index: 3;
  min-height: 2em;
  height: 2em;
  max-height: 2em;
}
.b-app--footer > footer {
  display: block;
  margin: 0;
  padding: 0.25em 1em;
  font-size: 1em;
  line-height: 1.5em;
}
.b-app--footer > footer h1,
.b-app--footer > footer h2,
.b-app--footer > footer h3,
.b-app--footer > footer h4,
.b-app--footer > footer h5,
.b-app--footer > footer h6 {
  margin: 0;
  margin-left: -0.05em;
  font: inherit;
  line-height: inherit;
  white-space: nowrap;
}
.b-app--footer > footer p {
  margin: 0;
}
.b-app--view {
  top: 4em;
  bottom: 2em;
  z-index: 1;
  overflow: scroll;
  overflow-x: auto;
}
.b-app--section {
  position: relative;
  height: 200%;
}
.b-app--sections {
  position: relative;
  height: 100%;
  padding: 0 2em;
}
.b-header--nav-bar {
  margin: 0;
  padding: 1em 0.5em;
  line-height: 2em;
  font-size: 1em;
  list-style: none;
}
.b-header--nav-bar > li {
  display: inline-block;
}
.b-header--nav-bar > li > a {
  display: block;
  margin-right: 1.5em;
}
.b-nav--list,
.b-nav--bar {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 2em;
  list-style: none;
}
.b-nav--list > li {
  display: block;
}
.b-nav--list > li > a {
  display: block;
}
.b-nav--bar > li {
  display: inline-block;
  margin-left: -2em;
}
.b-nav--bar > li > a {
  display: block;
  padding: 0.5em 2em;
}
.b-footer--img {
  float: right;
  position: relative;
  width: 4em;
  height: 4em;
  top: -2em;
}
.b-footer--img > img {
  width: 100%;
  height: 100%;
}
.b-footer--nav-bar {
  margin: 0;
  padding: 0;
  list-style: none;
}
.b-footer--nav-bar > li {
  display: inline-block;
}
.b-footer--nav-bar > li > a {
  display: block;
  margin-right: 1em;
}
.b-page {
  /*
     * Хидер страницы
     */

  /*
     * футер страницы
     */

  /*
     * Раздел на странице
     */

  /*
     * Статья на странице
     */

}
.b-page--header {
  width: 100%;
  min-height: 4em;
}
.b-page--footer {
  width: 100%;
  min-height: 1em;
}
.b-page--sections {
  /* Группа разделов */

}
.b-page--articles {
  /* Группа статей */

}
.b-tabs--list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.b-tabs--list > li > a {
  display: block;
  padding: 0.5em 1em 0.6em;
  margin-left: -1em;
}
.b-tabs--list > li.active > a {
  background: #777;
  color: #f2f2f2;
  cursor: default;
}
.b-tabs--list > li.active > a .u {
  border-bottom-color: transparent;
}
.b-tabs--list > li.list-header {
  margin: 2em 0 0.5em;
  font-weight: 600;
  font-family: 'segoe ui semibold', 'segoe ui', 'ubuntu', arial, sans-serif;
  color: #333;
}
.b-tabs--section,
.b-tabs--article {
  display: none;
}
.b-tabs--section.active,
.b-tabs--article.active {
  display: block;
}
.b-rich-control {
  position: absolute;
  top: 0;
  left: 0;
  right: 1.7em;
}
.b-rich-control > input {
  display: block;
  width: 41.66666666666666%;
  margin: 0;
  padding: 0.25em 0.5em 0.4em;
  font: inherit;
  font-size: inherit;
  line-height: 0.8em;
  color: #777;
  background: #f2f2f2;
  border: 0;
  border-radius: 0px;
  outline: 1px auto transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px #d2d2d2, 0 0 0 0.65em #f9f9f9, inset 0 0 7px -3px rgba(0, 0, 0, 0.2);
  transition: width 0.5s ease-out, background 0.5s ease-out, box-shadow 0.3s ease-out;
  -webkit-transition: width 0.5s ease-out, background 0.5s ease-out, box-shadow 0.3s ease-out;
  -moz-transition: width 0.5s ease-out, background 0.5s ease-out, box-shadow 0.3s ease-out;
  position: relative;
  z-index: 100507;
}
.b-rich-control > input::-webkit-input-placeholder,
.b-rich-control > input::-moz-input-placeholder,
.b-rich-control > input::-ms-input-placeholder {
  padding: 0.3em 0;
  color: #aaa;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
}
.b-rich-control > input:focus {
  width: 100%;
  color: #333;
  background: #fff;
  box-shadow: 0 0 0 1px #a2a2a2, 0 0 0 0.65em #f2f2f2, inset 0 0 3px -2px #000000;
  transition: width 0.7s ease-out, background 0.7s ease-out, box-shadow 0.3s ease-out;
  -webkit-transition: width 0.7s ease-out, background 0.7s ease-out, box-shadow 0.3s ease-out;
}
.b-rich-control > input:focus::-webkit-input-placeholder,
.b-rich-control > input:focus::-moz-input-placeholder,
.b-rich-control > input:focus::-ms-input-placeholder {
  color: #777;
}
/*
 * Фирстиль Осома
 */
.awesome {
  font-family: 'segoe ui', 'ubuntu', arial, sans-serif;
  /*
     * Раскладка приложения на Осоме
     */

}
.awesome .b-header--title,
.awesome .b-footer--title {
  margin: 0.5em 1em;
  font-size: 2em;
  line-height: 1em;
  font-family: 'segoe ui', 'ubuntu', arial, sans-serif;
  font-weight: 400;
  color: #333;
  opacity: 0.9;
}
.awesome .b-nav--bar > li > a:hover {
  color: #333;
}
.awesome .b-nav--bar > li.active > a {
  color: #333;
  font-weight: 600;
}
.awesome .b-nav--bar > li.active > a .u {
  border-bottom-color: transparent;
}
.awesome a {
  font-weight: 400;
}
.awesome .b-app {
  /*
         * Хидер Осома
         */

  /*
         * Футер Осома
         */

  /*
         * Экран Осома
         */

}
.awesome .b-app--header {
  background: #ffffff;
  -webkit-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.5);
}
.awesome .b-app--header hgroup {
  text-align: right;
  margin-right: 2em;
}
.awesome .b-app--header hgroup h1,
.awesome .b-app--header hgroup h3 {
  font-size: 0.5em;
  font-weight: 300;
  color: #333;
}
.awesome .b-app--header hgroup h1 strong,
.awesome .b-app--header hgroup h3 strong {
  font-weight: 300;
  color: #333;
  border-bottom-color: #e2e2e2;
}
.awesome .b-app--header hgroup h3 {
  color: #aaa;
}
.awesome .b-app--header--nav nav {
  position: relative;
  margin-right: -20px;
}
.awesome .b-app--header--nav nav .b-rich-control {
  margin-left: -0.5em;
}
.awesome .b-app--header--nav nav .b-header--nav-bar {
  position: relative;
  z-index: 1;
  margin-right: 5.7em;
  float: right;
}
.awesome .b-app--header--nav nav .b-user-control {
  position: absolute;
  top: 0;
  left: auto;
  right: -1em;
}
.awesome .b-app--footer {
  background: #ffffff;
  -webkit-box-shadow: 0 0 3px -1px #000000;
  -moz-box-shadow: 0 0 3px -1px #000000;
  box-shadow: 0 0 3px -1px #000000;
}
.awesome .b-app--footer p {
  margin: 0 -0.5em;
  color: #777;
}
.awesome .b-app--footer abbr {
  letter-spacing: 0.2em;
  margin-left: 0.2em;
}
.awesome .b-app--view {
  background: #f2f2f2;
  -webkit-box-shadow: inset 0 1px 3px -2px #000000;
  -moz-box-shadow: inset 0 1px 3px -2px #000000;
  box-shadow: inset 0 1px 3px -2px #000000;
}
.awesome .b-page {
  background: #f2f2f2;
}
.awesome .b-page--header {
  background: #ffffff;
}
.awesome .b-page--nav-bar {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.awesome .b-page--nav-bar > li {
  display: table-cell;
  width: 16.6%;
}
.awesome .b-page--nav-bar > li > a {
  display: block;
  padding: 0.25em 0.5em 0.25em;
  background: #fff;
  box-shadow: inset 0 -2px 0 -1px #e2e2e2;
  color: #777;
}
.awesome .b-page--nav-bar > li > a .u {
  border-bottom-color: #e2e2e2;
}
.awesome .b-page--nav-bar > li > a:hover {
  background: #f9f9f9;
  color: #333;
}
.awesome .b-page--nav-bar > li > a:hover .u {
  border-bottom-color: #a2a2a2;
}
.awesome .b-page--nav-bar > li:first-child a {
  padding-left: 2em;
}
.awesome .b-page--nav-bar > li.active > a {
  background: #f2f2f2 !important;
  box-shadow: inset 2px 2px 0 -1px #e2e2e2, inset -2px 2px 0 -1px #e2e2e2;
  color: #333;
  cursor: default;
}
.awesome .b-page--nav-bar > li.active > a .u {
  position: relative;
  top: 0.05em;
  border-bottom-color: transparent;
}
.awesome .b-page--title {
  padding: 10% 0;
  font-family: 'segoe ui light', 'ubuntu light', arial, sans-serif;
  font-size: 3em;
  font-weight: 300;
  white-space: nowrap;
}
.awesome .b-page--title h1,
.awesome .b-page--title h2 {
  margin: 0;
  font-size: 1em;
  font-weight: inherit;
  line-height: 1.2em;
  color: #999;
}
.awesome .b-page--title h1 {
  font-size: 1.12em;
  color: #333;
}
.awesome .b-page--section {
  margin-bottom: 5em;
}
.awesome .b-page--section hr {
  margin: 1em;
  border: 0;
  border-top: 1px solid #e2e2e2;
}
.awesome .b-page--footer {
  background: #ffffff;
  box-shadow: 0 -1px 0px 0 #e2e2e2;
}
.awesome .b-section--title,
.awesome .b-article--title {
  margin: 0;
  font-size: 3em;
  font-family: 'segoe ui light', 'ubuntu light', arial, sans-serif;
  font-weight: 300;
  color: #999;
  white-space: nowrap;
}
.awesome .b-article--header {
  margin-top: 0.5em;
}
.awesome .b-article--header p {
  margin-right: 2em;
  color: #777;
  font-size: 1.3em;
  line-height: 150%;
}
.awesome .b-article--title {
  font-size: 2em;
  font-family: 'segoe ui', 'ubuntu', arial, sans-serif;
  font-weight: 400;
  color: #333;
}
.awesome .b-article--nav {
  line-height: 2em;
}
@media screen and (min-width: 480px) {
  .awesome .b-page--section > article {
    padding: 0 7%;
  }
  .awesome .b-page--section .b-feature {
    margin: 2em 10% 20%;
  }
}
@media screen and (max-width: 768px) {
  .awesome .b-page--section > article {
    padding: 0;
  }
  .awesome .b-page--section .b-feature {
    margin: 0 1em 3em;
  }
}
.b-feature--group {
  padding-bottom: 7%;
  border-bottom: 1px solid #e2e2e2;
}
.b-feature-group--sep-top,
.b-feature-group--sep-bottom {
  float: none;
  clear: both;
  border-color: transparent;
  border-top: 1px solid #e2e2e2;
}
.b-feature-group--sep-bottom {
  border-color: transparent;
}
.b-feature {
  margin: 0 1em 3em;
  float: left;
}
.b-feature--title {
  margin: 0 0 0 -1em;
  padding-left: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font: 17px/20px 'Segoe UI Semibold', 'ubuntu', arial, sans-serif;
  font-weight: 400;
}
.b-feature--title > span {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -1px;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.b-feature > p {
  padding-left: 1px;
}
.b-feature--list {
  margin: 12px 0;
  padding: 0;
  list-style: none;
}
.b-feature--list > li {
  margin: 3px 0;
  padding-left: 1em;
}
.b-feature--list > li:before {
  content: '▪';
  position: absolute;
  margin-left: -1em;
  color: rgba(0, 0, 0, 0.7);
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 2em;
  right: 0;
  display: none;
  margin: -1px;
  padding: 0.7em;
  background: #e2e2e2;
  border: 1px solid #aaa;
  border-top-color: #fff;
  border-radius: 1px;
  box-shadow: inset 0 0 0 3px #f2f2f2, 0 1px 7px -2px rgba(0, 0, 0, 0.5);
  list-style: none;
}
.dropdown-menu:before {
  display: inline-block;
  position: absolute;
  content: '';
  top: -0.5em;
  left: auto;
  right: 0.6em;
  margin-top: 0px;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid #fff;
  border-left: 0.5em solid transparent;
}
.dropdown-menu > li > a {
  display: block;
  padding: 0.4em 1em 0.5em;
  background: transparent;
}
.dropdown-menu > li > a:hover {
  color: #f2f2f2;
  background: #777;
  border-radius: 0px;
  box-shadow: 0 0 0 3px #f2f2f2, inset 0 0 3px -1px rgba(0, 0, 0, 0.7);
}
.dropdown-menu > li > a:hover .u {
  border-bottom-color: #a2a2a2;
}
.dropdown-menu > li + li {
  margin-top: -0.5em;
}
.dropdown-menu > li.divider {
  margin: 0.4em 1em 1em;
  height: 0px;
  border-top: 1px solid #AAA;
  box-shadow: 0 0 0 0.3em rgba(255, 255, 255, 0.1);
}
.dropdown.open .dropdown-menu {
  display: block;
}
.caret {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin: 0;
  margin-top: -0.15em;
  margin-left: -0.3em;
  content: '';
  border-top: 0.3em solid #777;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
.b-btn {
  display: inline-block;
  margin: 0;
  padding: 0 0.65em 0 0.6em;
  font: inherit;
  line-height: 200%;
  border: 0;
  outline: none;
  border-radius: 0;
}
.b-btn--primary,
.b-btn--primary + .b-btn[data-toggle=dropdown] {
  background-color: #777;
  color: #f2f2f2;
  -webkit-transition: background-color 0, color 0;
}
.b-btn--primary:hover,
.b-btn--primary + .b-btn[data-toggle=dropdown]:hover {
  background-color: #555;
  color: #e2e2e2;
  -webkit-transition: background-color 0, color 0;
}
.b-btn--primary:active,
.b-btn--primary + .b-btn[data-toggle=dropdown]:active {
  background-color: #333;
  color: #c2c2c2;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
}
.b-btn--primary + .b-btn[data-toggle=dropdown] {
  position: relative;
  min-width: 2em;
  min-height: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #e2e2e2;
}
.b-btn--primary + .b-btn[data-toggle=dropdown] .caret {
  border-top-color: #e2e2e2;
}
.b-btn--primary + .b-btn[data-toggle=dropdown]:hover .caret {
  border-top-color: #d2d2d2;
}
.b-btn--primary + .b-btn[data-toggle=dropdown]:active .caret {
  border-top-color: #b2b2b2;
  -webkit-transition: border-top-color 0.3s ease;
}
.open .b-btn--primary + .b-btn[data-toggle=dropdown] {
  background-color: #555;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
}
.open .b-btn--primary + .b-btn[data-toggle=dropdown] .caret {
  -webkit-transition: border-top-color 0.3s ease;
}
.b-btn--large {
  font-size: 1.5em;
  font-weight: 300;
  font-family: 'segoe ui light', 'ubuntu', arial, sans-serif;
  white-space: nowrap;
  padding: 0 0.85em 0.1em 0.75em;
}
p > .b-btn {
  margin-left: -0.6em;
}
p > .b-btn--large {
  margin-left: -0.8em;
}
.b-user-control {
  display: block;
  white-space: nowrap;
  box-shadow: 0 0 0 0.65em #f2f2f2;
}
.b-user-control > a {
  position: relative;
  float: left;
  box-shadow: 0 0 0 1px rgba(229, 151, 0, 0);
}
.b-user-control--username {
  margin-right: 1px;
}
.b-user-control--menu--username,
.b-user-control--menu--logout {
  color: #444;
}
.b-user-control--menu--username .u,
.b-user-control--menu--logout .u {
  border-bottom: 1px solid #ddd !important;
}
.b-user-control--menu--username {
  padding-top: 3em !important;
}
.b-user-control--menu--username .u {
  margin-left: -0.025em;
  font-size: 2em;
  line-height: 120%;
}
.b-user-control--menu--role {
  display: block;
  font-size: 100%;
  line-height: 100%;
  margin-top: 0.2em;
  margin-left: 0.05em;
  margin-bottom: 0.5em;
}
.b-user-control--menu--logout {
  padding-bottom: 3em !important;
}
