.b-panel {
    padding: 14px; margin: 0 -15px;
    background-color: #e2e2e2;
    border: 1px solid #ccc; border-top-color: #fff; border-left-color: #fff;
    box-shadow:
        inset 0 0 0 5px #f2f2f2,
        0px 2px 5px -3px rgba(0, 0, 0, 0.3)
    ;
}

.panel {

    @panel-head-title--cssFontSize: 16px;
    @panel-head-title--cssFontColor: #555;

    background: transparent;
    border: 1px solid transparent;
    border-radius: 1px;
    &-head, &-heading {
        margin: -1px -1px 0;
        padding: 0;
        line-height: 20px;
        border: 0; border-radius: 0;
    }
    &-title {
        padding: 9px 14px;
        line-height: inherit;
        font-size: @panel-head-title--cssFontSize;
        color: @panel-head-title--cssFontColor;
    }
    &-body {
        margin: 0 -1px -1px;
        padding: 15px;
    }
}


.panel {

    &-default, &-primary {
        border: 1px solid #ccc; border-top-color: #fff; border-left-color: #fff;
        border-radius: 1px;
    }

    @panelDefault--cssBackground: #f2f2f2;
    @panelDefault-head--cssBackground: #e2e2e2;
    @panelDefault-head--cssBorderColor: #fff #ccc transparent #fff;

    &-default {
        background-color: @panelDefault--cssBackground;
        & > .panel-head,
        & > .panel-heading {
            background-color: @panelDefault-head--cssBackground;
            border: 1px solid; border-color: @panelDefault-head--cssBorderColor;
        }
    }

    @panelPrimary--cssBackground: #f2f2f2;
    @panelPrimary-head--cssBackground: #4183c4;
    @panelPrimary-head--cssBorderColor: #DCE8F4 #3673B0 transparent #DCE8F4;

    @panelPrimary-head-title--cssFontColor: #DCE8F4;

    &-primary {
        background-color: @panelPrimary--cssBackground;
        & > .panel-head,
        & > .panel-heading {
            background-color: @panelPrimary-head--cssBackground;
            border: 1px solid; border-color: @panelPrimary-head--cssBorderColor;
            & > .panel-title {
                color: @panelPrimary-head-title--cssFontColor;
            }
        }
    }
}

/* Panel Sizes */
.panel {
    &-lg {
        .panel-title {
            padding: 14px;
            font-size: 16px;
        }
        .panel-body {
            padding: 15px;
        }
    }
    &-sm {
        .panel-title {
            padding: 4px 9px;
            font-size: 12px;
        }
        .panel-body {
            padding: 10px;
        }
    }
}
