.b-dialog {
    position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 100700;
    overflow-x: hidden; overflow-y: hidden;
    padding-top: 40px;

    &--area {
        position: absolute; top: 0; right: 0; bottom: 0; left: 0;
        background: rgba(255,255,255,.7);
    }
    &--main {
        box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.9);
    }

    &--head {
        padding: 15px;
        line-height: 20px;
        font-size: 14px;
        color: #777;
        background: #e2e2e2;
    }
    &--body {
        padding: 15px;
        background: #f2f2f2;
    }
}

.animate .b-dialog.ng-enter,
.animate .b-dialog.ng-leave {
    transition: all .5s ease;
    -moz-transition: all ease .5s;
}
    .animate .b-dialog.ng-enter,
    .animate .b-dialog.ng-leave.b-dialog.ng-leave-active {
        opacity: 0;
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
    .animate .b-dialog.ng-leave,
    .animate .b-dialog.ng-enter.b-dialog.ng-enter-active {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transition: all ease .5s;
    }
